<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monochrome</title>
  </head>

  <body class="home-page">
    <header class="header">
      <% include html/header/header-main.html %> 
      <% include html/header/header-nav.html %>
    </header>

    <main class="content">
      <% include html/home/home-banner.html %>
    </main>

    <footer class="footer">
      <% include html/footer/footer-top.html %> 
      <% include html/footer/footer-bottom.html %>
    </footer>
  </body>
</html>
